meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Document
link(rel="stylesheet", href="/css/agentdash.css")
header
  h2 MWF Sales Agent Dashboard
  div
    | Welcome, Tee | 
    span#date
.container
  nav
    .profile
      img(src="../imgs/salesAgent.jpg", width="100px", height="100px", style="border-radius: 500%")
      h3 Mugerwa Rollins
      h4 Sales Agent
    ul
      li
        a(href="/agentdash")
          i.fas.fa-home
          |  Dashboard
      li
        a(href="/agentsales")
          i.fas.fa-box-open
          | Sales Entry
      li
        a(href="/receipts")
          i.fas.fa-box-open
          |  Receipts
      li
        a(href="/agentreports")
          i.fas.fa-chart-line
          | Reports