meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Landing Page
link(rel="stylesheet", href="/css/index.css")
section.intro
  h1 Mayondo Wood and Furniture
  p “Crafted for Legacies.”
.container
  section
    div
      img.cherry(src="../imgs/BrownLogo.png")
      h4
        a(href="/login") SignIn
footer.footer
  p ©2025MayondoWoodandFurniture.All rights reserved