meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Document
link(rel="stylesheet", href="css/stockentry.css")
.dashboard
  aside.sidebar
    h2 Manager Dashboard
    nav
      .profile
        img(src="../imgs/Beauty.png", width="100px", height="100px", style="border-radius: 100%")
        h3 Tee Mwangi
        h4 Manager
      ul
        li
          a(href="dash.html")
            i.fas.fa-home
            |  Dashboard
        li
          a(href="stockentry.html")
            i.fas.fa-home
            |  Stock Entry
        li
          a(href="reports.html")
            i.fas.fa-file-alt
            |  Reports
        li
          a(href="users.html")
            i.fas.fa-file-alt
            | Attendants
  section#record-stock
    h2 Record New Stock
    form#stockForm(action="/stockentry", method="post")
      label(for="productName") Product Name:
      input#productName(type="text", name="productName", required)
      label(for="category") Category:
      select#category(name="category")
        option(value="furniture") Furniture
        option(value="accessory") Accessory
        option(value="raw-material") Raw Material
      label(for="quantity") Quantity:
      input#quantity(type="number", name="quantity", min="1", required)
      label(for="unitPrice") Unit Price (UGX):
      input#unitPrice(type="number", name="unitPrice", min="0", required)
      label Cost Price (UGX):
      input#costPrice(type="number", name="costPrice", min="0", required)
      label(for="supplier") Supplier:
      input#supplier(type="text", name="supplier")
      label(for="dateReceived") Date Received:
      input#dateReceived(type="date", name="dateReceived", required)
      button(type="submit") Save Stock
script(src="../javascript/stockentry.js")